<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile / Twitter</title>
    <link rel="stylesheet" href="/css/manu.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/ab663b69f8.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/Styles.css" />
    <link rel="icon" href="/img/twitter.2.ico" />
    <script src="https://kit.fontawesome.com/ab663b69f8.js" crossorigin="anonymous"></script>
  </head>
  
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-3">                   
                     <%- include('partials/nav')%>                                   
                </div>
                <div class="col-6">
                    <div class="newTwitBox border">
                        
                    <img class="banner" src="https://i.pinimg.com/originals/4d/d5/85/4dd585d3e8a1a6b23f9a54e5a1076c8b.jpg" alt="">
                    <div class="profile-info">
                        <h4><%= firstName %> </h4>
                        <h6>@<%= username  %> </h6>
                        <p> description </p>
                        <p>Followers <span id="followers"><%= followers.length %></span></p>
                        <ul>
                          <% for(const follower of followers){ %> 
                            <%= follower.firstName %> 
                          <% } %> 
                        </ul>
                        <p>Following <%= following.length %></p>
                        <% if(!own) {%> 
                        <button id="follow" class="btn btn-primary">Follow!</button>
                        <% } %> 
                    </div>
                    </div>
                    <div class="twitFeed border">
                        <%for(let tweet of tweets){%>
                        <div class="tweet d-flex border">
                            <div class="tweetUserImg px-2">
                                <i class="fa-solid fa-circle-user fa-2x top-50"></i>
                            </div>
                            <div class="tweetContent px-2">
                                <div class="tweetHeader">
                                    <h6 class="d-inline"><%=tweet.author.firstName%></h6>
                                    <span> - <%=tweet.date%></span>
                                </div>
                                <div class="tweetBody">
                                    <p><%=tweet.text%></p>
                                </div>
                                <div class="tweetFooter d-flex justify-content-around">
                                    <div>
                                        <i class="fa-regular fa-comment"></i><span></span>
                                   </div>
                                   <div>
                                    <i class="fa-solid fa-retweet"></i>
                                   </div>
                                   <div>
                                    <i class="fa-regular fa-heart"></i><span><%=tweet.likes%></span>
                                   </div>
                                   <div><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
                </div>
                <div class="col-3"><%- include('partials/tendencias') %></div>
            </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const followButton = document.getElementById("follow")
      followButton.addEventListener("click", function(){
        const url = window.location.href
        axios.get(
          `http://localhost:3000/follow/${url.split("/profile/")[1]}`
          ).then((result) => {
            followers = result.data
            newFollowersNumber = followers.length + 1

            document.getElementById("followers").innerHTML = newFollowersNumber
        })
      })
    </script>
  </body>
</html>
